body,html{
    display: flex;
    justify-content: center;
}
.entire{
    width: 100%;
    text-align: center;
}
.btns{
    display: flex;
    justify-content: center;
}
button{
    border: 0;
    padding: 10px;
    margin: 20px;
    background-color:coral;
    color: white;
    border-radius: 10px;
}